body {
    background-image: url("desk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Roboto, sans-serif
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(52, 208, 255);
    outline: none;
    transition: background-color 0.3s;
}

.btn:not(:disabled):hover {
    background-color:rgb(40, 166, 205)
}

.btn-dark {
    background-color: rgb(70, 70, 70);
    color: white;
}

.btn-dark:not(:disabled):hover {
    background-color: rgb(10, 10, 10);
}

.btn-green {
    background-color:rgb(88, 255, 82)
}

.btn-green:not(:disabled):hover {
    background-color:rgb(57, 194, 52);
}

.btn-form {
    margin: 0rem 0.5rem;
}

.btn-red {
    background-color:rgb(255, 74, 74);
}

.btn-red:not(:disabled):hover {
    background-color:rgb(162, 32, 32);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: start;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.left-bar {
    grid-column: 1/2;
    padding: 0.8rem;
}

.modal {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    margin: 0;
    top: 0;
    left: 0;
}

.modal-content {
    background-color: white;
    width: 50%;
    padding: 1.5rem;
    top: 20%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    border-radius: 10px;
}

.right-bar {
    grid-column: 4/5;
    text-align: center;
    display: inline-block;
    padding: 1rem;
}

.screen {
    grid-column: 2/4;
    text-align: center;
    padding: 0.8rem;
}

.tooltip {
    position:relative;
}

.tooltip:hover .tooltip-text{
    display: block;
}

.tooltip-text {
    width: 16rem;
    top: 100%;
    left: 50%;
    margin-top: 1rem;
    margin-left: -8rem;
    display: none;
    z-index: 50;
    position: absolute;
    border-radius: 5px;
    color: white;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.8)
}

#close-modal {
    margin-left: 99%;
}

#close-modal:hover {
    cursor: pointer;
}