body {
    background-image: url("desk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.form-button {
    margin: 0.5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: blue;
}

.grid-item {
    background-color:red;
  }

.left-bar {
    grid-column: 1/2;
    padding: 0.8rem;
}

.modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
}

.modal-contents {
    background-color: white;
    
}

.right-bar {
    grid-column: 4/5;
    text-align: center;
}

.screen {
    grid-column: 1/5;
    text-align: center;
    padding: 0.8rem;
}